body{
    background-image:url("cosmos.jpg");
    background-repeat:no-repeat;    

}
#settings{
    position: fixed;
    right: 20px;
    top:10px;
    height: 25px;
    width: 25px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.set{    
    margin: 0px;
    padding-left: 0px;
    top: 40px;
    right:20px;
    margin-left: 0px;
    display: none;
    position: absolute;
    height: 540x;
    background-color: #fff;
    z-index: 5;
    background-color: #00BFFF;
    opacity: 0.9;
    width:300px;
    border-radius: 5px;
}
.h{
    color: #fff;
    text-align: left;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-right: 110px;
    padding-bottom: 7px;    
    display: block;
}

.wallpapers{
    padding: 10px;
    padding-left: 20px;
    border-radius: 2px;
    height: 70px;
    width: 100px;
    z-index: 6;
    position:  relative; 
    opacity: 0.8;   
}
.wallpapers:hover{
    opacity: 1;
}


.white{
    border-radius: 2px;
    height:30px;
    width: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    display: inline-block;
    opacity: 0.9;
}
.white:hover{
    opacity:1;
}



.c{
    color: #fff;
    background-color: #00BFFF;
    text-align: left;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 7px;
    padding-right: 110px;
    padding-bottom: 7px;    
    display: block;
}
.holder{
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
    width: 200px;
    height:130px;
    border-radius: 4px;
}

.icon{
    display: block;
    padding-top: 10px;
    margin: auto;
    height: 70px;
    width: 70px;
}
.text{
    font-family: "Arial",sans-serif;  
    text-align: center;
    font-size: 18px;  
    opacity: 1;
    position: relative;
}
.holder:hover{
    background-color: #fff;
    opacity: 1;
}