body{
    background-image:url("galaxy.jpg");
    background-repeat:no-repeat;
    background-size: 1100px 500px;

}
.holder{
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
    width: 150px;
    height:100px;
    border-radius: 2px;
}

.icon{
    display: block;
    padding-top: 10px;
    margin: auto;
    height: 50px;
    width: 50px;
}
.text{
    font-family: "Arial",sans-serif;  
    text-align: center;
    font-size: 18px;  
    opacity: 1;
    position: relative;
    bottom: 5px;
}
.holder:hover{
    background-color: #fff;
    opacity: 1;
}